# Dependencies
node_modules/

# Build output
dist/

# Environment variables (comentado para permitir commit do .env - APENAS PARA FINS EDUCACIONAIS)
# .env

# Database (comentado para permitir commit do banco - APENAS PARA FINS EDUCACIONAIS)
# *.db
# *.db-journal

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
